<main class="flex w-full h-full justify-center align-middle">
  <div class="flex">
    <div class="flex min-w-xs">
      <img src="images/smiling.png" style="max-height: fit-content;" alt="salesman" />
    </div>
    <div class="text-center">
      <h1 class="text-3xl">Como puedo ayudarte hoy?</h1>
      <chat-container>
        <chat-message [direction]="'sender'" [text]="'Para elegir el automóvil perfecto para ti primero necesito que me cuentes un poco de ti. Podrias brindarme la siguiente información por favor?'">
        <customer-form (onCompleteForm)="this.onSubmitForm($event)" />
        </chat-message>
        @if (question()) {
          <chat-message [direction]="'receiver'" [text]="question()"/>
        }
        @if (response()) {
          <chat-message [direction]="'sender'" [text]="response()"/>
        }
      </chat-container>
    </div>
    <div class="flex w-full"></div>
  </div>
</main>

<router-outlet />
